.main{
margin-top: 100px;
padding: 30px;
display: flex;
margin-top: 100px;
padding: 30px;
justify-content: center;
flex-direction: column;
}

.MuiCard-root {
width: 20px;
}

.filter{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}